@import 'variables';

.player-list-item {
  display: flex;
  align-items: center;

  .player-image {
    margin-left: 10px;
    border-radius: 2px;
  }

  .player-ranking {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-size: 1.25em;
    width: 35px;
    background-color: #f6f6f6;
    color: $supporting-color;
  }

  .stat-value {
    font-size: 1.25em;
    margin-right: 10px;
  }

  .player-name {
    margin-left: 15px;
    font-weight: lighter;
    font-size: 1.15em;
    flex: 1;
  }
}
